blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, img, legend, li, ol, p, pre, td, th, ul {
	padding:0;
	border:0;
	vertical-align:baseline;
}
address, blockquote, dl, fieldset, form, h1, h2, h3, h4, h5, h6, ol, p, table, ul {
	margin:15px 0;
}
#header {
	background-color: #555;
	font:0.8em/1.5 "arial", sans-serif;
}
h1 {
	font-size:300%;
	font-weight:normal;
}
h2 {
	font-size:220%;
	font-weight:bold;
}
h3 {
	font-size:130%;
	font-weight:bolder;
}
h4, h5, h6 {
	font-size:130%;
	font-weight:bold;
	overflow: hidden;
}
a {
	text-decoration: none;
}
.menu a:hover {
	background-color: #f2f2f2;
}
form ul {
	list-style:none;
}
form li {
	display:block;
	padding-bottom:7px;
}
form li label {
	display:block;
	padding-bottom:3px;
}
input, select, textarea {
	font-size:100%;
	font-family:"arial", sans-serif;
}
table.table {
	border-collapse:collapse;
	border-spacing:0;
}
table.table th, table.table td {
	padding:7px 10px;
}
table.table th {
	font-weight:bold;
}
ul.ul {
	margin-left:20px;
	list-style:none;
}
ul.ul li {
	padding-left:15px;
	background:url("../design/ul.gif") 0 5px no-repeat;
}
ul.ul ul {
	margin:0 0 0 20px;
	list-style:none;
}
img.f-left {
	margin-right:15px;
	margin-top: -3px;
}
img.f-right {
	margin-left:15px;
}
/* .main {
	
	margin:0 auto;
} */
#header {
	position:relative;
	height: 73px;
	/* overflow: auto; */
	/* background:url("../images/header.png") 100% 0 no-repeat; */
}
#header #logo {
	top:40px;
	left:0;
	margin:0;
	font-size:350%;
	line-height:1;
	letter-spacing:-2px;
	font-weight:normal;
}
#header #logo span {
	font-weight:bold;
}
#header a {
	text-decoration: none;
}
#logo a {
	color: #ffffff;
	
}
#header #nav {
	top:38px;
	right:0;
	list-style:none;
	font-size:130%;
}
#header #nav li {
	display:inline;
}
#header #nav li a {
	display:block;
	font-weight:bold;
	text-decoration:none;
	width: 100%;
	padding-right: 0px;
	position: relative;
	color: #fff;
}
#header #nav li a:hover {
	text-decoration:underline;
}
#header #nav li.current a {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	text-decoration:none;
}
#header-nav {
	margin-top: -31px;
}
#section {
	overflow:hidden;
	padding:40px 0;
	min-height: 500px;
}
/* #content {	
	text-align:justify;
} */
#articles {
	margin:0;
	list-style:none;
}
#articles h2 {
	margin:0;
}
.col-md-8 a {
	text-decoration: none;
}

#articles .article-info p {
	margin:0;
	font-size: 12px;
}
.gallery li {
	display:block;
	float:left;
	margin-right:10px;
}
.pagination {
	font-size:110%;
}
.pagination a {
	padding:5px 10px;
}
.pagination a.current {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	text-decoration:none;
	font-weight:bold;
}

.active a{
	height: 43px;
    margin-top: 0;
    background-color: #000;
}
#nav .active{
	width: 126px;
    text-align: center;
}
.more {
	text-align:right;
}
.more a {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:6px 12px;
	text-decoration:none;
	font-weight:bold;
}
#aside .h3-bold{
	flex: 30%;
    border-bottom: 1px solid;
    width: 88%;
    margin-left: 19px !important;
    margin: 17px 15px 0 30px;
    text-align: center;
    font-size: 20px;
    font-weight: inherit;
}
.menu {
	list-style:none;
	margin-left: 18px; 
	margin-right: 8px;
}
.menu li {
	display:inline;
}
.menu li a {
	display:block;
	padding:5px 0;	
	text-decoration: none;
}
.menu li a .row {
	margin-top: 10px;
    margin-bottom: 0px;
}
.menu li.current a {
	font-weight:bold;
	text-decoration:none;
}
.sponsors {
	margin:0;
	list-style:none;
	font-size:85%;
}
.sponsors li {
	padding:10px 0;
}
.sponsors li a {
	font-size:115%;
}
#footer {
	padding:25px 10px 20px;
	position: absolute;
	width: 100%;
}
#footer p {
	margin:0;
}
.download {
	margin-bottom: 10px;
}
.icon {
	width: 10%;
}
.container {
	max-width: 1217px;
}
.box {
	min-height:1px;
	_height:1%;
	text-align:justify;
}
.box:after {
	display:block;
	visibility:hidden;
	clear:both;
	line-height:0;
	font-size:0;
	content:".";
}
.fix {
	float:none;
	clear:both;
	width:0;
	height:0;
	margin:0;
	padding:0;
	border:0;
	line-height:0;
	font-size:0;
}
.f-left {
	float:left !important;
}
.f-right {
	float:right !important;
}
.t-left {
	text-align:left !important;
}
.t-center {
	text-align:center !important;
}
.t-right {
	text-align:right !important;
	color: #fff;
    font-family: cursive;
}
.t-justify {
	text-align:justify !important;
}
.va-top {
	vertical-align:top !important;
}
.va-middle {
	vertical-align:middle !important;
}
.va-bottom {
	vertical-align:bottom !important;
}
.nom {
	margin:0 !important;
}
.nomt {
	margin-top:0 !important;
}
.nomb {
	margin-bottom:0 !important;
}
.hidden {
	position:absolute;
	left:-1000em;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.noscreen {
	display:none;
}
.input-text {
	padding:5px;
}
.input-submit {
	padding:3px;
}
.img-menu-news{
	width: 107px;
	min-height: 50px;
}
.img-news-home{
	width: 300px;
	height: 200px;
}
#art-box-lg {
	/* background-color: #f2f2f2; */
	overflow: hidden;
	/* border-radius: 5px; */
	/* padding: 20px 20px 25px; */	
}
.firstItem {
	padding: 20px;
    margin-right: 10px;
	background: #f2f2f2;	
	border-radius: 5px;
	width: 97%;
}
.firstItem .h3-bold {
	min-height: 80px;
}
.firstItem:hover {
	background-color: #e6e6e6;
}
#art-box-list-sm{
    display: inline-block;
    margin-left: -9px !important;
    border-top: 1px solid #D1D1D1;
    padding-top: 20px;
}
#art-box-list-sm .col-md-6{
	float: left;
	margin-bottom: 10px;
	padding: 0;
	width: 161px;
}
.top-news{
	font-size: 26px;
}
.box-info-news-sm{
	background: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    margin-right: 10px;
    height: 187px;
}
.box-info-news-sm:hover {
	background-color: #e6e6e6;
}
.box-info-news-sm h4 {
    font-size: 67%;
    font-weight: bold;
    line-height: 15px;
    overflow: initial;
}
.h3-bold {
	font-size: 180%;
	font-weight: bold;	
}
#detail {
	font-size: 150%;
	text-align:justify;
	overflow: hidden;
	padding: 40px;
}
#h3-bold-detail {
	font-size: 150%;
	font-weight: bold;
    margin-top: 20px;
}
#detail #text {    
	line-height: 2.5;
	letter-spacing: 1.25px;
}
#audio {
	background: #f2f2f2;
	padding: 12px;
}
#playAudio {
	margin-right: 15px;
}
#audio .col-md-6 {
	background: #274f8b;
	color: #ffffff;
	padding: 15px;
	-webkit-flex: 1;  
    -ms-flex: 1; 
	flex: 1;
	text-align: center;
	padding-top: 25px;
	max-width: 100% !important;
}
#audio-player {
	background: #f2f2f2;
	display: none;
	
}
.audio-player {
	padding: 20px;	
}
.mejs__audio {	
	padding-bottom: 20px;
	width: 100% !important;
}
#img {
	overflow: hidden;
}
img {
    max-width: 100%; /* or any custom size */
    height: auto; 
	object-fit: contain;
	margin: 0 auto;
}
.image-top{
	background: url('../images/default-news.png') center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
video {
	max-width: 100% !important;
	height: auto;
}
#text span.jlpt-n5 {
	text-decoration: none; 
	border-bottom: 1px solid rgb(52,152,219);
	height: 53px;
}

#text span.jlpt-n4{
	text-decoration: none;
	border-bottom: 1px solid rgb(46,204,113);
	height: 53px;
}

#text span.jlpt-n3{
	text-decoration: none;
	border-bottom: 1px solid rgb(241,196,15);
	height: 53px;
}

#text span.jlpt-n2{
	text-decoration: none;
	border-bottom: 1px solid rgb(243,156,18);
	height: 53px;
}

#text span.jlpt-n1{
	text-decoration: none;
	border-bottom: 1px solid rgb(231,76,60);
	height: 53px;
}

.kanji{
	font-size: 180%;
	color: red;
	margin-left: 20px;
	font-weight: bold;
}
.hira{
	font-size: 150%;
	margin-left: 20px;
}
.kind{
	font-size: 130%;
	color: brown;
	margin-left: 20px;
}
.box-mean-show {
	margin-left: 20px;
	font-size: 150%;
}
.box-show{
	font-size: 60%;
	top: 40px;
	/* margin-left: 15px; */
}
.mean-detail {
	font-size: 110%;
	color: #00f;
	/* margin-left: 20px; */
}
.mean-detail-modal {
	font-style: italic;
	font-size: 90%;
	color: #00f;
	/* margin-left: 20px; */
}
.boxHtml{
	margin-top: 15px;
    background-color: #f2f2f2;
	padding-bottom: 1px;
	padding-top: 15px;
}
.examp-trans {
	margin-left: 12px;
	margin-right: 20px;
	text-align: justify;
}
.pagination .active{
	color: #fff;
	background-color: #003773;
}
.news-more{
	border-top: none !important;
	padding: 10px;
    font-size: 18px;
    padding-bottom: 26px;
}
.btn-load{
	display: inline-block;
    cursor: pointer;
}
.btn-load:hover{
	color: #045e8c;
}
.news-more .pre{
	float: left;
}
.news-more .next{
	float: right;
}
.img-bg-default{
	background: url('../images/default-news.jpg') center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
	.img-bg-default{
		width: 100%;
		height: 50px;
	}
}
@media screen and (min-width: 1024px){
	.img-bg-default{
		width: 100%;
		height: 50px;
	}
}
/*Ipad dÃƒÂ¡Ã‚Â»Ã‚Âc(768 x 1024)*/
@media screen and (max-width: 768px){
    .img-bg-default{
		width: 100%;
		height: 40px;
	}
	#header-nav {
		margin-top: 0px;
		padding: 0.7rem!important;
	}
	#header .btn-menu {
		top: 19px !important;
	}
	#header {
		height: 80px;
	}
	.icon{
		width: 64px;
	}
	
}
/*Tablet nhÃƒÂ¡Ã‚Â»Ã‚Â(480 x 640)*/
@media screen and (max-width: 480px){
    .img-bg-default{
		width: 28%;
        height: 45px;
	}
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    .img-bg-default{
		width: 35%;
		height: 50px;
	}
}

@media screen and (max-width: 360px){
    .f-left-copy{
		font-size: 11px;
	}
	.f-right{
		font-size: 11px;
	}
}
/*Smart phone nhÃƒÂ¡Ã‚Â»Ã‚Â*/
@media screen and (max-width: 240px){
    .img-bg-default{
		width: 100%;
		height: 50px;
	}
}

.topnav {
	overflow: hidden;
	background-color: #333;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  

  
  .topnav .icon {
	display: none;
  }
  
  @media screen and (max-width : 600px) {
    #header {
        border-bottom: 0;
    }
    #nav {
        display: none;
        height: auto;
    }
    #pull {
        display: block;
        background-color: #283744;
        width: 100%;
        position: relative;
    }
	#pull:after {
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
	}
	.box-info-news-sm h4 {
		font-size: 180% !important;
	}
	
}
#text{
	padding-top: 20px;
}
.country{
	padding-right: 5px;
	width: 20px;
	margin-left: 5px;
}
#aside .list-sidebar{
	min-height: 80px;
}

.img-index{
	background: url(../images/default-news.jpg) center center no-repeat;
    background-size: cover;
}

#art-box-lg{
	margin-left: -9px !important;
}

.link-paper{
	color: #555;
}

#aside{
	border: 1px solid #D1D1D1;
    top: 39px;
    margin-left: 42px;
	background-color: #f5f5f5;
	max-height: 487px;
}
.foot-logo{
	font-size: 40px;
    margin-left: 51px;
    font-family: cursive;
    color: #fff;
}
